doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title F Plus Afterparty Trivia
    link(rel="stylesheet" href="css/reveal.css")
    link(rel="stylesheet" href="css/theme/night.css")
    link(rel="stylesheet" href="lib/css/zenburn.css")
    link(rel="stylesheet" href="css/lemon-slides.css")
    style.
      .reveal .slides h1, .reveal .slides h2, .reveal .slides h3, .reveal .slides h4 { text-shadow: 2px 2px 0 black, -1px -1px 3px black; }
  body
    
    .reveal
      .slides
        section
          section(data-background="img/flag.png")
          section
            h1 Hello, Minneapolis.
          section
            h3 The plan is nearly complete.
          section
            h2 My name is Montrith
            h3.fragment The General of Finland's World Domination Army 
              span.fragment And Part Time Transportation Secretary When Pauli Goes Fishing Every Other Friday 
          section
            h2 You = My Slaves
          section(data-background="img/brain.jpg")
          section
            p I've brought you....
            ul
              li.fragment Clown Sex
              li.fragment Monkey Moms
              li.fragment Dick Bugs
                span.fragment !?!?
              li.fragment Cuddle Parties :(
          section
            h3 And so, it all ends here.
          section
            h1 The doors are locked.
          section
            h1 The doors aren't locked.
          section
            h1 There is an electric fence.
          section
            h1 
              u Please
              span  do not escape.
          section
            h3 The Premise:
            h2 Each reader will be met by my courier, carrying material
          section(data-background-color="#ff0000")
            h4 to drive you
            h1(style="font-size:16vw") INSANE
          section
            h1 
              u Please
              span  do not escape.
          section
            h3 The beginning of the end 
              span.fragment is STOG.
        section
          section(data-background="img/flag.png")
          section
            h1 Hello, The F Plus
          section(data-background-color="#ff0000")
            h4 Are you
            h1(style="font-size:15vw") INSANE?
          section
            h2 [note: edit this part out]
          section
            h2 [this part too, edit all this out]
          section
            h1 Hello, The F Plus
          section(data-background="img/alex-jones.jpg")
            h4 Are you
            h1(style="font-size:15vw") INSANE?
          section(data-background="img/white-flag.jpg")
          section(data-background="img/black-flag.jpg")
            h1 HA HA!
            h1 You fools!
          section(data-background="img/blueprint.png")
          section(data-background="img/blueprint-darker.png")
            h3
              p Nevermind.
              ul
                li.fragment Nuclear tipped Angry Birds pointed at building
                li.fragment They will launch if you do not read what the courier gives you
                li.fragment I intentionally neglected to tell you this
          section
            h3 I will check back later
          section(data-background="img/palin-2.jpg")
            h4 when you are
            h1(style="font-size:16vw; opacity:0.8") INSANE
          section
            h1 
              u Please
              span  do not escape.
        section
          section(data-background="img/flag.png")
          section
            h1 Hello, The F Plus
          section(data-background="img/vainity.jpg")
            h4 Are you
            h1(style="font-size:15vw") INSANE?
          section(data-background="img/blue-eye.jpg")
          section
            h2 Hello, Slaves!
          section
            h1 Stand up.
            h2.fragment (C'mon, do it.)
          section
            h3 On the count of 3
            h1 CLAP 3 TIMES
          section
            h1 CLAP! CLAP! CLAP!
          section
            h3 On the count of 3
            h1 Scream "I have a clown fetish!"
          section(data-background="img/clown-fetish.jpg")
          section
            h3 Ha ha.
            h3 You have a clown fetish.
          section(data-background-video="video/dip.mp4" data-background-video-loop="true" data-background-video-muted="true")
          section
            h3 That's enough of that.
          section
            h3 And now, everybody
            h2.fragment Remove the democratically elected leaders of your country and replace them with puppets of a Finnish Shadow Government
          section(data-background="img/blue-eye.jpg")
          section
            h3 Simon says
            h2 Remove the democratically elected leaders of your country and replace them with puppets of a Finnish Shadow Government
          section
            h4 How disappointing.
          section
            h3 Bring Lemon to the stage.
    
    script(src="lib/js/head.min.js")
    script(src="js/reveal.js")
    script(type="text/javascript").
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          history: true,
          //backgroundSize: 'contain',
          //backgroundTransition: 'slide',
          // More info https://github.com/hakimel/reveal.js#dependencies
          dependencies: [
              { src: 'plugin/markdown/marked.js' },
              { src: 'plugin/markdown/markdown.js' },
              { src: 'plugin/notes/notes.js', async: true },
              { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
          ]
      });